
<div class="main_container">

  <div class="col-md-3 left_col">
    <div class="left_col scroll-view">

      <div class="navbar nav_title" style="border: 0;">
        <a href="/" class="site_title"> <span>YONSEI LIKELION</span></a>
      </div>
      <div class="clearfix"></div>


      <!-- menu profile quick info -->
      <div class="profile">
        <div class="profile_pic">
          <%= image_tag "yll.png", :class => "img-circle profile_img"  %>
        </div>
        <div class="profile_info">
          <span><%=current_user.major%></span>
          <h2><%=current_user.name%> <span>님</span></h2>
        </div>
      </div>
      <!-- /menu profile quick info -->

      <br />

      <!-- sidebar menu -->
      <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">

        <div class="menu_section">
          <h3>General</h3>
          <ul class="nav side-menu">
            <li><a href="/plainpage/index"><i class="fa fa-home"></i> 홈 </a>
            </li>
            <li><a href="/notice_list"><i class="fa fa-edit"></i> 공지사항 </a>
            </li>
            <li><a><i class="fa fa-table"></i> 과제 <span class="fa fa-chevron-down"></span></a>
            <!-- 우리가 내는 과제 하나씩 보여줄 수 있도록-->
              <ul class="nav child_menu" style="display: none">
                <% Assign.all.each do |a| %>
                  <li><a href="/assignment/<%=a.id%>"><%= a.title %></a>
                  </li>
                <% end %>
              </ul>
            </li>
            <li><a><i class="fa fa-desktop"></i> 게시판 <span class="fa fa-chevron-down"></span></a>
              <ul class="nav child_menu" style="display: none">
                <li><a href="/post_list">자유게시판</a>
                </li>
              </ul>
            </li>
            <li><a href="/plainpage/accounting"><i class="fa fa-bar-chart-o"></i> 회계 </a>
            </li>
            <li><a><i class="fa fa-sitemap" aria-hidden="true"></i> 타학교 사이트 <span class="fa fa-chevron-down"></span></a>
              <ul class="nav child_menu" style="display: none">
                <li><a target="_blank" href="http://www.likelion.org/">멋쟁이사자처럼 공식 사이트 </a>
                </li>
                <li><a target="_blank" href="https://www.facebook.com/yonsei.likelion/">연대멋사 페북 </a>
                </li>
                <li><a>타학교 멋사 사이트<span class="fa fa-chevron-down"></span></a>
                  <ul class="nav child_menu">
                    <% @sl.each do |s|%>
                    <li class="sub_menu"><a href="<%=s.url%>"><%=s.name%></a>
                    </li>
                    <%end%>
                  </ul>
                </li>
                <li><a>타학교 멋사 페북<span class="fa fa-chevron-down"></span></a>
                  <ul class="nav child_menu">
                    <% @fl.each do |s|%>
                    <li class="sub_menu"><a href="<%=s.url%>"><%=s.name%></a>
                    </li>
                    <%end%>
                  </ul>
                </li>
              </ul>
            </li>
          </ul>
        </div>
        <%if current_user.admin == true %>
        <div class="menu_section">
          <h3>Management</h3>
          <ul class="nav side-menu">
            <li><a href="/admin"><i class="fa fa-bug"></i> 관리자 페이지 </a>
            </li>
          </ul>
        </div>
        <%else%>
          
        <%end%>

      </div>
      <!-- /sidebar menu -->

      <!-- /menu footer buttons -->
      <div class="sidebar-footer hidden-small">
        <!--<a data-toggle="tooltip" data-placement="top" title="Settings">-->
        <!--  <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>-->
        <!--</a>-->
        <!--<a data-toggle="tooltip" data-placement="top" title="FullScreen">-->
        <!--  <span class="glyphicon glyphicon-fullscreen" aria-hidden="true"></span>-->
        <!--</a>-->
        <!--<a data-toggle="tooltip" data-placement="top" title="Lock">-->
        <!--  <span class="glyphicon glyphicon-eye-close" aria-hidden="true"></span>-->
        <!--</a>-->
        <!--<a href="/users/sign_out" data-toggle="tooltip" data-placement="top" title="Logout">-->
        <!--  <span class="glyphicon glyphicon-off" aria-hidden="true"></span>-->
        <!--</a>-->
      </div>
      <!-- /menu footer buttons -->
    </div>
  </div>
