
<section class="landing media" id="landing" style="background-image:url(<%=image_path 'yll3.jpg'%>)">
    <div class="in">
        <div class="inin media-middle">

            <!-- Button trigger modal -->
            <button type="button" class="btn btn-warning btn-lg" data-toggle="modal" data-target="#myModal">
              지금 바로 지원하세요! :)
            </button>
            
            <!-- Modal -->
            <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">멋사 5기 모집</h4>
                  </div>
                  <div class="modal-body">
                    <h2 style="color:black; margin-top:50px">2월 25일 ~ 3월 10일</h2>
                    <p style="color:black; margin-bottom:50px"> 자소설닷컴 링크가 준비되는대로 공지하겠습니다! </br> 페이스북 페이지를 확인해주세요!
                    </p>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <a href="http://jasoseol.com/" target="_blank"><button type="button" class="btn btn-primary">지원하러가기</button></a>
                  </div>
                </div>
              </div>
            </div>
        </div>
    </div>
</section>

<section class="introduction" id="introduction">
    <div class="introduction-intro"><h2><strong>LIKELION SINCE 2013</strong></h2></div>
    <div class="introduction-tag">
    <h3>"내 아이디어를 내 손으로 실현한다."</h3>
    <h4>컴퓨터를 전혀 모르는 학생들이 코딩 교육을 통해 원하는 IT 서비스를 직접 런칭합니다.</h4>
    </div>
    <!--videos-->
        <div class="youtubeWrap">
          <iframe width="350" height="250" src="https://www.youtube.com/embed/pv3fCmVPsdc" frameborder="0" allowfullscreen></iframe>
          <iframe width="350" height="250" src="https://www.youtube.com/embed/jhGT8xKrY4o" frameborder="0" allowfullscreen></iframe>
          <iframe width="350" height="250" src="https://www.youtube.com/embed/xOSwnx9eRE0" frameborder="0" allowfullscreen></iframe>
          <iframe width="350" height="250" src="https://www.youtube.com/embed/E3wa-4fL4nY" frameborder="0" allowfullscreen></iframe>
        </div>
    <!-- <div class="embed-responsive embed-responsive-16by9">
     <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/xOSwnx9eRE0"></iframe>
    </div>-->
   <h3 class="video-tag"><p> HTML / CSS, RUBY, jQuary, Git 등을 중점적으로 학습하여 비전공자라도 웹 서비스를 만들어 올려볼 수 있도록 도와드립니다.</p> </h3>
</section>

<section class="works" id="works">
    <div class="between-sec">
  
    </div>
    <h2><strong>ACTIVITIES & FEATURES</strong></h2>
    <div class="container"></div>
      <div class="works-tag"><h3>멋쟁이사자처럼에서 배운다는 것은....</h3></div>
      <div class="container-fluid">
        <div class="row works-mid">
          <div class="col-md-4 col-lg-4 works-pic">
            <%= image_tag "1st.jpg", class:"yll"%>
            <P>웹기술을 활용해 필요한 서비스를 만듭니다.</P>
          </div>
          <div class="col-md-4 col-lg-4 works-pic">
            <%= image_tag "2nd.jpg", class:"yll"%>
            <P>아이디어톤을 통해 서로의 생각을 나눕니다.</P>
          </div>
          <div class="col-md-4 col-lg-4 works-pic">
            <%= image_tag "3rd.jpg", class:"yll"%>
            <P>해커톤을 진행해 내가 직접 서비스를 만들어 봅니다. </P>
          </div>
        </div>
        </div>
    </div>
    <!--<article class="works-pic"></article>-->
    <!--<article class="works-pic"></article>-->
    <!--<article class="works-pic"></article>-->
</section>

<section class="process" id="process">
    <div class="between-sec">
      
    </div>
    <h2><strong>UPCOMING SCHEDULE</strong></h2>
    <div class="process-tag"><h3></h3></div>
    
    <div class="bs-example">
    <div id="myCarousel" class="carousel slide" data-interval="3000" data-ride="carousel"> 
        <!-- Wrapper for carousel items -->
        <div class="carousel-inner">
            <div class="active item">
                <%= image_tag "schedule_1.jpg" %>
                <!-- <img src="../images/schedule_1.jpg" alt="First Slide"> -->
            </div>
            <div class="item">
                <%= image_tag "schedule_2.jpg" %>
                <!-- <img src="../images/schedule_2.jpg" alt="Second Slide"> -->
            </div>
            <div class="item">
                <%= image_tag "schedule_3.jpg" %>
                <!-- <img src="../images/schedule_3.jpg" alt="Third Slide"> -->
            </div>
        </div>
        <!-- Carousel controls -->
        <a class="carousel-control left" href="#myCarousel" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left"></span>
        </a>
        <a class="carousel-control right" href="#myCarousel" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right"></span>
        </a>
    </div>
</div>
    
    
    
    <!--사진파일들 1120*480-->
</section>
<section class="member" id="member">
    <div class="between-sec">
  
    </div>
    <h2><strong>SUPPORTERS & STAFFS</strong></h2>
    <div class="member-tag"><h3>여러분을 위해 열과 성을 다할 준비가 되어있습니다.</h3></div>
    <div class="container" id="members">
      

      
      <div class="row justify-content-md-center">
        
        <div class="col-md-6 col-lg-6 member-pic">
          <%= image_tag "seyoung.jpg" %>
          <div class="img-top"><%= image_tag "sy2.jpg" %> </div>
        </div>
        <div class="col-md-6 col-lg-6 member-pic">
          <%= image_tag "harim.jpg" %>
          <div class="img-top"><%= image_tag "hr2.jpg" %> </div>
        </div>
        <div class="w-100"></div>
        <div class="col-md-6 col-lg-6 member-pic">
          <%= image_tag "changmin.jpg" %>
          <div class="img-top"><%= image_tag "cm2.jpg" %> </div>
        </div>
        <div class="col-md-6 col-lg-6 member-pic">
          <%= image_tag "jiyun.jpg" %>
          <div class="img-top"><%= image_tag "jy2.jpg" %> </div>
        </div>
        <div class="col-md-6 col-lg-6 member-pic">
           <%= image_tag "sejong.jpg" %>
          <div class="img-top"><%= image_tag "sj2.jpg" %> </div>
        </div>
        <div class="col-md-6 col-lg-6 member-pic">
           <%= image_tag "taki.jpg" %>
          <div class="img-top"><%= image_tag "tk2.jpg" %> </div>
        </div>
      </div>
  </div>
</section>
