<%= render "partials/sidenav" %>
<%= render "partials/topnav" %>
<!--<div class="right_col" role="main" >-->
<!--  <div class="container">-->
<!--    <h2><%=@assign.title%></h2>-->
<!--    <div class="parent">-->
<!--      <% @assignments.each do |a| %>-->
<!--            <div class="assignments2" style="text-align:center">-->
<!--              <p><%=a.name%></p>-->
<!--              <a href="/assignment/<%=@num%>/<%=a.user_id%>">-->
<!--                  <img class="img_list" src="<%=a.img_url%>">-->
<!--              </a>-->
<!--            </div>-->
<!--      <% end %>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->
<div class="right_col" role="main">
  <div class="">
    <div class="page-title">
      <div class="title_left">
        <h3> <%=@assign.title%></h3>
      </div>
    </div>

    <div class="clearfix"></div>

    <div class="row">
      <div class="col-md-12">
        <div class="x_panel">
          <div class="x_title">
            <h2><%=@assign.title%></h2>
            <ul class="nav navbar-right panel_toolbox">
              <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
              </li>
            </ul>
            <div class="clearfix"></div>
          </div>
          <div class="x_content">
            <div class="row">
              <p>과제제출현황</p>
              <% @assignments.each do |a| %>
              <div class="col-md-55">
                <div class="thumbnail">
                    <div class="image view view-first">
                      <img style="width: 100%; display: block;" src="<%=a.img_url%>" alt="image" />
                      <div class="mask no-caption">
                        <div class="tools tools-bottom">
                          <a href="#"><i class="fa fa-link"></i></a>
                          <a href="#"><i class="fa fa-pencil"></i></a>
                          <a href="#"><i class="fa fa-times"></i></a>
                        </div>
                      </div>
                    </div>
                  <div class="caption">
                    <p><strong><%=a.name%></strong>
                    </p>
                    <a href="/assignment/<%=@num%>/<%=a.user_id%>">
                    <p>보러가기</p>
                    </a>
                  </div>
                </div>
              </div>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<%= render "partials/footer" %>