<%= render "partials/sidenav" %>
<%= render "partials/topnav" %>

<div class="right_col" role="main" >
  <div class="">
    <div class="page-title">
      <div class="title_left">
        <h3></h3>
      </div>
    </div>
    <div class="clearfix"></div>
    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
          <div class="x_title"  >
            <h2><%=@assignment.name%> :<small><%=@assignment.assign_name%></small></h2>
            <div class="clearfix"></div>
          </div>
          <div class="x_content" style="margin-bottom:15px">
             <a href="<%=@assignment.img_url%>">
              <img class="detail_img" src="<%=@assignment.img_url%>" style="max-width:100%">
            </a><br>
            <%=@assignment.content%>
          </div>
          <br>
          <div class="clearfix"></div>
          <p>댓글</p>
          <% @comments.each do |r| %>
            <strong><%=r.name%></strong> | <%=r.created_at%><br>
            <%=r.content%><br>
          <% end %>
    <div class="container">
      <form action="/create_comment" method="post">
        <textarea rows="4" class="form-control" type="text" name="content"></textarea><br>
         <input name="id_of_assignment" type="hidden" value="<%=@assignment.id%>">
        <input type="submit" value="Submit" class="btn btn-md btn-primary">
      </form>
    </div>
        </div>
      </div>
    </div>
  </div>
</div>
<%= render "partials/footer" %>